*{box-sizing: border-box;}
ul li{list-style: none;}
a{
    text-decoration: none;
}
body{margin: 0% auto;}
.page{
margin: 0 auto;
max-width: 1200px;
min-width: 1000px;
}
.head{
height: 560px;
background: url(./image/фон.png) no-repeat;
background-size: contain;
}
.head__image{
text-align: center;
padding-top: 120px;
}
.head__image > img{
    width: 60%;
}
.body{
    max-width: 1000px;
    min-width: 800px;
    margin: 0 auto;
}
.body__header{
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    font-size: 35px;
    text-align: left;
    margin: 20px 0;
}
.cards{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cards__item{
width: 310px;
height: 370px;
background-color: #231B0C;
vertical-align: top;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.cards__item:hover{
    background: rgba(60, 44, 13, 0.7);
}
.cards__item:active{
    background: rgba(28, 20, 10, 0.7);
}

.cards__item__top{
width: 40%;
margin-top: 15px;
}
.cards__item__bottom{
width: 80%;
margin-bottom: 40px;
}
.body_image{
height: 450px;    
background: url(./image/фото.png)no-repeat;
background-size: cover;
background-position: center;
margin-bottom: 30px;
}     
.footer{
background-color: #150F02;
width: 100%;
padding: 30px 120px 30px;
}
.footer__top{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.footer__top__left{
padding: 0;
margin: 0;
width: 175px;
text-align: left;
}
.footer__top__right{
    padding: 0;
    margin: 0;
    width: 150px;
    text-align: left;
    }
.footer__top ul li{
    margin: 10px;
}
.footer__top ul li img{
    height: 23px;
}
.footer__top ul li img:hover{
    height: 24px;
}
.footer__contacts{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 6px solid #FF6B00;
    width: 20%;
    margin: 5px auto;
    padding-bottom: 5px;

}
.footer__logo{
padding: 10px 0px 0px;
width: 15%;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
.footer__logo a{
    text-align: center;

}
.social_link{
    color: white;
    width: 30px;
    height: 25px;
}
.social_link:hover{
     color: #FF6B00;
}
.social_link:active{
    color: rgba(174, 72, 0, 0.8);
}