/*------------ОБНУЛЕННЯ-------------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
	font-size: 10px;
	line-height: normal;
}
/*--------------------*/
.box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 800px;
    height: 460px;
    background-color: rgba(255, 176, 132, 1);
    border-radius: 20px;
    padding: 25px 45px 25px 38px;
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 15px;
    transform: scale(1.4);

}
.container__item{
    background-color: white;
    border-radius: 20px;
    padding: 15px 30px;
    box-shadow: 7px 7px 0px 0px black;
    font-size: 14px;
}
.container__item ul{
    padding-left: 20px;
}
.container__item:hover{
    transform: scale(1.03);
}



.item-1{
    grid-row: 1/7;
}
.header{
    font-weight: 700;

}
.main__header{
    font-size: 24px;
    text-align: center;
}
.main__avatar{
    text-align: center;
    margin: 17px auto;
}
.main__info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.info__item{
    font-size: 12px;
    font-weight: 400;
    margin: 7px 0;
}
.info-bold{
    font-weight: 600;
}
.item-2{
    display: flex;
    align-items: center;
    font-size: 14px;
    grid-row: 7/8;
}
.item-3{
    grid-column: 2/4;
    grid-row: 1/3;
}
.item__text{
    margin-top: 5px;

}
.item-4{
    grid-row: 3/5;
    box-shadow: 7px 7px 0px 0px #29A71E;
}
.item-4 .header{
    color: #29A71E;
}

.item-5{
    grid-row: 5/8;
    box-shadow: 7px 7px 0px 0px #3675B0;
}
.item-5 .header{
    color: #3675B0;
}

.item-6{
    grid-row: 3/6;
    box-shadow: 7px 7px 0px 0px #E13535;
}
.item-6 .header{
    color: #E13535;
}

.item-7{
    grid-row: 6/8;
}