/* IMPORT */
@import url(./animation.css);
/* Обнулення */
*{
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
}
main, footer, header, section {display: block;}
html,body{
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
	font-size: 10px;
	font-style: italic;
	line-height: normal;
	scroll-behavior: smooth;
}
input::-ms-clear{display: none;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul, li{list-style: none;}
/*--------------------*/

/* MAIN */
.box{
	max-width: 1620px;
	margin: 0 auto;
	position: relative;
	background-color: white;
}
header{
	position: sticky;
	top: 0;
	z-index: 5;
}
header .navbar{
	padding: 0 1% 0 0 !important;
	display: flex;
	align-items: center;
	min-height: 10vh;
	overflow: hidden;
}
header .bg-dark{
	background-color: black !important;
}
header .navbar-brand{
	align-self: stretch;
	padding: 0 !important;
}
header .navbar-brand img{
	height: 10vh;
}
header .navbar-nav{
	justify-content: end;
	gap: 3%;
	width: 100%;
}
header .nav-link{
	max-width: fit-content;
	color: white !important;
	font-size: 3rem;
	transition: color 0.4s;
}
header .nav-link:hover{
	color: orange !important;
}
header .navbar-toggler{
	font-size: 3vh;
}

.screen{
	height: 90vh;
	overflow: hidden;
}
/* GALERY */
.galery{
	display: flex;
}
.galery__left, .galery__right{
	width: 22%;
	height: fit-content;
	display: flex;
	align-items: center;
	object-fit: cover;
}
.galery__left img, .galery__right img{
	width: 100%;
	height: 100%;
}

.galery__left__column, .galery__right__column{
	width: 30%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.galery__left__column img, .galery__right__column img{
	width: 100%;

}
.galery__left__column > div, .galery__right__column > div{
	margin: 3% 0;
}

/* SERVICES */
.services{
	display: flex;

}
.services__left{
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	order: 1;
}
.services__item{
	height: 50%;
	width: 50%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services__item > div{
	width: 60%;
	height: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.services__item > div p{
	font-size: 3.5rem;
	color: rgba(0, 0, 0, 1);
}

.serv-one{
	top: 0;
	left: 0;
	animation: serv-one 20s linear infinite;
}
.serv-two{
	top: 0;
	left: 50%;
	animation: serv-two 20s linear infinite;
}
.serv-three{
	top: 50%;
	left: 0;
	animation: serv-three 20s linear infinite;
}
.serv-four{
	top: 50%;
	left: 50%;
	animation: serv-four 20s linear infinite;
}

.services__right{
	width: 40%;
	order: 2;
}
.services__right-bg{
	height: 100%;
}
/* TEAM */
.team{
	display: flex;
	flex-direction: column;
	padding: 2% 0;
	gap: 8%;
}
.team__header{
	font-size: 6.5rem;
	font-style: normal;
	color: rgba(0, 0, 0, 1);
	display: flex;
	justify-content: center;
	align-items: center;
}
.team__cards{
	display: flex;
	justify-content: space-evenly;
}
.cards__item{
	display: flex;
	width: 23%;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: filter 0.3s linear;
}
.cards__item img{
	max-width: 100%;
}
.team__cards:hover .cards__item{
	filter: brightness(0.4);
}
.team__cards .cards__item:hover{
	filter: none;
}
.cards__item .item__name{
	background-color: rgba(163, 83, 10, 0.7);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	font-family: 'Volkhov', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4.2rem;
	color: rgba(255, 250, 250, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-right-radius: 35px;
	border-bottom-left-radius: 35px;
	transition: height 0.3s linear;
}
.team__cards .cards__item:hover .item__name{
	height: 25%;
}
/* CONTACTS */

.contact__container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 85%;
	height: 90vh;
	padding: 3% 0 2%;
	margin: 0 auto;
}
.contact__top{
	height: 65%;
	display: flex;
	justify-content: space-between;
}
.contact__top__form{
	width: 58%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	order: 1;
}
.form__header{
	width: 86%;
	height: 30%;
	font-size: 5.2rem;
	line-height: 1.2;
	color: rgba(0, 0, 0, 1);
	text-align: center;
}
.form__body{
	width: 100%;
	height: 70%;
	background-color: rgba(229, 229, 229, 1);
}
.form{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 3%;
}
.form__body [placeholder]{
	font-size: 3rem;
}
.form__row{
	display: flex;
	justify-content: space-between;

}
.form__row input{

	font-size: 3rem;
	padding: 3%;
	width: 100%;

}
.row__item-1{
	width: 45%;
}
.row__item-2{
	width: 50%;
}
.form__text{
	height: 70%;
}
.form__text textarea{
	padding: 1%;
	width: 100%;
	height: 100%;
	resize: none;
}
.contact__top__map{
	width: 40%;
	height: 100%;
	position: relative;
	order: 2;
}
.contact__top__map iframe{
	width: 100%;
	height: 90%;
	position: absolute;
	bottom: 0;
}

.contact__bottom{
	height: 25%;
	padding: 0% 1%;
	display: flex;
	align-items: center;

}
.info__row{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info__item{	
	font-size: 2.5rem;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	line-height: 1.2;
}
.info__item span{
	font-weight: 700;
	font-style: normal;
}	
.info-contact, .info-hours{
	flex: 0 1 32%;
}
.info-links{
	flex: 0 1 22%;
}
.open-header{
	font-weight: 700;
	font-style: normal;
	font-size: 3rem;
	margin-bottom: 5%;
}
.links{
	width: 60%;
	margin: 0 auto;
}
.info__link a{
	color: black;
	transition: color 0.4s;
}
.info__link a:hover{
	color: orange;
}
.links a{
	line-height: 1.5;
	display: flex;
	align-items: center;
	color: black;
}
.link-1 a::before{
	content: '';
	width: 2.8rem;
	height: 2.8rem;
	display: inline-block;
	background: url(/image/instagram-logo.png) no-repeat;
	background-size: contain;
	margin-right: 5%;
}
.link-2 a::before{
	content: '';
	width: 2.8rem;
	height: 2.8rem;
	display: inline-block;
	background: url(/image/facebook-logo.png) no-repeat;
	background-size: contain;
	margin-right: 5%;
}
.link-3 a::before{
	content: '';
	width: 2.8rem;
	height: 2.8rem;
	display: inline-block;
	background: url(/image/twitter-logo.png) no-repeat;
	background-size: contain;
	margin-right: 5%;
}
