body{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
}
.box{
    max-width: 1000px;
    margin: 0 auto;
}
.header-logo{
    text-align: center;
    text-transform: uppercase;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.header-logo a{
    text-decoration: none
}
.header-blue{
    color: #3E45E8;
}
.header-yellow{
    color: #E8C23E;
}
.content{
    height: 500px;
    background: url(./image/фонове\ зображення.png) 50%/cover no-repeat;
    font-size: 35px;
    font-weight: 700;
    color: white;
    line-height: 1.5;
    text-align: left;
    display: flex;
}
.content-image{
    background: url(./image/img\ прапор.png) no-repeat;
    background-position: left;
    background-size:15px auto;
    margin: auto 60px;
    padding-left: 30px;
}
.header2{
    text-transform: uppercase;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 20px;
}
.img > img{
    width: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.container{
    text-align: center;
}
.container > div{
    width: 270px;
    height: 330px;
    border: 4px solid #0D095F;
    border-radius: 26px;
    display: inline-block;
    margin: 20px;
    overflow: hidden;
    vertical-align: top;
}
.container div img{
    width: 105%;
}
.card-top{
    color: #0072DB;
    font-size: 20px;
    text-align: left;
    padding: 5px;

}
.card-bottom{
    color: #FF9900;
    font-size: 16px;
    text-align: left;
    padding: 5px;
    font-weight: 400;
}
.card1{
    box-shadow: -13px 15px 15px  #BFF3FF;
}
.card2{
    box-shadow: 0px 12px 15px 5px #BFF3FF;
}
.card3{
    box-shadow: 13px 15px 15px #BFF3FF;
}
.header3{
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    border-bottom: #1400FF solid 5px;
    width: 350px;
    margin: 15px auto 15px auto
}
.img-ukraine{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-ukraine img{
    width: 650px;
}
.button1{
    text-align: center;
}
.button{
    text-decoration: none;
    display: inline-block;
    width: 300px;
    font-size: 35px;
    color: white;
    text-align: center;
    border: #2A61F0 solid 1px;
    background-color: #2A61F0;
    border-radius: 30px;
    padding: 3px;
    margin: 0 auto;
}
.footer{
    width: 100%;
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer-logo{
    text-align: center;
    text-transform: uppercase;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
    font-size: 35px;
}
.footer-logo a{
    text-decoration: none;
}
.footer-blue{
    color: #3E45E8;
}
.footer-yellow{
    color: #DFE31E;
}
.footer-logo :hover{
    font-size: 36px;
}
.email{
    text-align: center;
}
.email a{
    color: #A89D9D;
    font-family: 'Marcellus SC', serif;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
    margin: 10px;
}
.email :hover{
    color: #368ef4;
}
.tel{
    text-align: center;
}   
.tel a{
    color: #A89D9D;
    font-family: 'Marcellus SC', serif;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
    margin: 10px;
}
.tel :hover{
    color: #368ef4;}
.logo{
    text-align: center;
}
.logo > a{
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo a img{
    max-height: 20px;
}
.logo :hover{
    max-height: 23px;
}